<% layout('boilerplate') %> 

<div class="container">
  <!-- Eror notifications -->
    <% if(error!=''){ %> 
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error %> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %> 
    
    <h1 class="text-center">Login Page</h1>
    <hr>
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Credentials</h5>
            <form action="/user/login" method="post">
                <div class="mb-3">
                  <label for="email" class="form-label">Username</label>
                  <input type="text" class="form-control" id="email" name="username" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <p>Not a User? <a href="/user/register">Create Account</a></p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
